.header {
  font-size: 0.75rem;
  margin: 0;
}

.text {
  margin: 0;
}

.message {
  width: 60%;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 1rem;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: min-content ;
  align-items: start;
  row-gap: 0.5rem;
}

.msg-container {
  overflow-y: scroll;
  max-height: calc(100vh - 7rem);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto ;
  align-items: start;
  row-gap: 0.5rem;
}

.right { 
  text-align: right;
  justify-self: flex-end;
  align-self: flex-start;
}


.left {
  text-align: left;
  align-self: flex-start;
  justify-self: flex-start;
}